<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Home!</title>

</head>

<body>
<div th:replace="fragments/nav :: nav" />

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">내 레시피</h1>

      <div class="list-group pb-3">
        <a href="#" class="list-group-item">전체</a>
        <a href="#" class="list-group-item">한식</a>
        <a href="#" class="list-group-item">일식</a>
        <a href="#" class="list-group-item">중식</a>
        <a href="#" class="list-group-item">양식</a>
        <a href="#" class="list-group-item">기타</a>

        <a th:href="@{/recipe/{id}/my/add (id=${member.id})}" class="btn btn-success btn-lg" style="width: 300px; margin: auto; margin-top: 10px;">+</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="row">

        <!--<div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Item One</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>-->

        <th:block th:if="${#lists.size('recipes') != 0}" th:each="item : ${recipes}">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-header">
                <small class="text-muted" th:text="${member.id}">ID</small>
              </div>
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" th:text="${item.name}">Item Name</a>
                </h4>
                <h5 th:text="${item.category}">Category</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </th:block>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>

<div th:replace="fragments/footer :: footer" />

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>
