<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<div class="recipeCard" th:fragment="recipeCard">-->
<th:block th:if="${#lists.size('recipes') != 0}" th:each="recipe : ${recipes}" th:fragment="recipeCard">
    <div class="col-lg-4 col-md-4 mb-4 mt-3">
        <div class="card h-auto" style="height: 20rem;">
            <div class="card-header">
                <small class="text-muted" th:text="${recipe.username}">ID</small>
            </div>

            <a href="#" th:href="@{/recipe/my/view/{id} (id=${recipe.id}, selected=${selected})}">
                <img th:if="${#strings.isEmpty(recipe.filename)}" class="card-img-top" src="http://placehold.it/700x400" alt="">
                <img th:unless="${#strings.isEmpty(recipe.filename)}" class="card-img-top h-auto"
                     th:src="|@{/images/{name}/{id} (name=${recipe.username}, id=${recipe.filename})}|">
            </a>

            <div class="card-body" style="height: 145px;">
                <h3 class="card-title">
                    <a href="#" th:href="@{/recipe/my/view/{id} (id=${recipe.id}, selected=${selected})}" th:text="${recipe.name}">제목</a>
                </h3>
                <h5 th:text="${recipe.category}">Category</h5>
                <p th:text="${recipe.comment}" class="card-text">코멘트!</p>
            </div>
            <div class="card-footer">
                <!--<small class="text-muted">★ ★ ★ ★ ☆</small>-->
                <small class="text-muted d-flex justify-content-end" style="margin-left: 55px;">
                    <a th:href="|javascript:confirmDeleteRecipe(${recipe.id});|"
                        style="text-decoration:none; color: gray;" class="me-3">삭제</a>
                    <a th:href="|javascript:confirmShardRecipe(${recipe.id}, '${selected}');|"
                       style="text-decoration:none; color: gray;" th:if="${not recipe.shareable}">공유</a>
                    <a th:href="|javascript:confirmNotShardRecipe(${recipe.id}, '${selected}');|"
                       style="text-decoration:none; color: gray;" th:unless="${not recipe.shareable}">공유해제</a>
                </small>
            </div>
        </div>
    </div>
</th:block>