<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Home!</title>

</head>

<style>
  .fieldError {
      border-color: #bd2130;
    }
</style>

<body style="background-color: #EAEAEA;">
<div th:replace="fragments/nav :: nav"></div>

<!-- Page Content -->
<div class="container" style="margin: auto;">
  <div class="card">
    <div class="card-header">
      <h2>레시피 이름</h2>
      <h5>카테고리</h5>
    </div>
    <div class="card-body">
      <div class="p-2">
        <h5 class="card-title">설명</h5>
        <p class="card-text">컨텐츠 내용</p>
      </div>

      <div class="p-2 mt-2">
        <h5 class="card-title">재료</h5>
        <p class="card-text">컨텐츠 내용</p>
      </div>

      <div class="p-2 mt-2">
        <h5 class="card-title">레시피</h5>
        <p class="card-text">컨텐츠 내용</p>
      </div>
    </div>
    <div class="card-footer"

  </div>

</div>


<div th:replace="fragments/footer :: footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>
