<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<div class="recipeCard" th:fragment="recipeCard">-->
<th:block th:if="${#lists.size('recipes') != 0}" th:each="favorite : ${favorites}" th:fragment="recipeCard">
    <div class="col-lg-4 col-md-4 mb-4 mt-3">
        <div class="card h-100">
            <div class="card-header">
                <small class="text-muted" th:text="${favorite.recipe.username}">ID</small>
            </div>
            <a href="#" th:href="@{/favorite/view/{id} (id=${favorite.recipe.id}, selected=${selected})}">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            </a>
            <div class="card-body" style="height: 145px;">
                <h3 class="card-title">
                    <a href="#" th:href="@{/favorite/view/{id} (id=${favorite.recipe.id}, selected=${selected})}" th:text="${favorite.recipe.name}">제목</a>
                </h3>
                <h5 th:text="${favorite.recipe.category}">Category</h5>
                <p th:text="${favorite.recipe.comment}" class="card-text">코멘트!</p>
            </div>
            <div class="card-footer">
                <!--<small class="text-muted">★ ★ ★ ★ ☆</small>-->
                <small class="text-muted d-flex justify-content-end" style="margin-left: 55px;">
                    <a th:href="|javascript:confirmDeleteFavorite(${favorite.recipe.id});|"
                        style="text-decoration:none; color: gray;" class="me-1">삭제</a>
                    <!--<a th:href="|javascript:confirmShardRecipe(${recipe.id}, '${selected}');|"
                       style="text-decoration:none; color: gray;" th:if="${not recipe.shareable}">공유</a>
                    <a th:href="|javascript:confirmNotShardRecipe(${recipe.id}, '${selected}');|"
                       style="text-decoration:none; color: gray;" th:unless="${not recipe.shareable}">공유해제</a>-->
                </small>
            </div>
        </div>
    </div>
</th:block>