<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/alert.js" defer></script>

    <title>Home</title>

    <link href="/css/shop-homepage.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>