<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="nav" th:fragment="nav">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <th:block th:if="${member == null}">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/member/login">내 레시피</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/member/login">위시리스트</a>
            </li>
          </th:block>

          <th:block th:unless="${member == null}">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/?id={id} (id=${member.id})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/recipe/{id}/my (id=${member.id})}">내 레시피</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/recipe/{id}/favorite (id=${member.id})}">위시리스트</a>
            </li>
          </th:block>

        </ul>

        <th:block th:if="${member == null}">
          <form class="d-flex" action="/member/login" method="get">
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
        </th:block>
        <th:block th:unless="${member == null}">
          <a href="#" th:text="${member.name}" th:href="@{/member/{id}/myPage (id=${member.id})}" class="btn btn-success" role="button">수정</a>
        </th:block>

      </div>

    </div>
  </nav>

</div>
<!--
<header th:fragment="nav">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Recipe Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipe/my">내 레시피</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipe/my">위시리스트</a>
          </li>
        </ul>

        <th:block th:if="${member == null}">
          <form class="d-flex" action="/member/login" method="get">
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
        </th:block>
        <th:block th:unless="${member == null}">
          <a href="#" th:text="${member.name}" th:href="@{/member/{id}/myPage (id=${member.id})}" class="btn btn-success" role="button">수정</a>
        </th:block>

      </div>

    </div>
  </nav>

</header>
</html>-->
