<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
    <a class="navbar-brand" href="#">Recipe Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/" th:classappend="${menu} == 'home' ? 'active'">홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/recipe/my/all" th:classappend="${menu} == 'myrecipe' ? 'active'">내 레시피</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/favorit/all" th:classappend="${menu} == 'favorite' ? 'active'">위시리스트</a>
            </li>
        </ul>
    </div>

    <!--<div class="d-flex justify-content-end">-->
    <div class="text-end" sec:authorize="not isAuthenticated()">
        <a href="#" th:href="@{/member/login}" class="btn btn-success me-3"> 로그인 </a>
    </div>

    <form class="text-end" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <a href="member/mypage" class="text-white" sec:authentication="name">사용자</a>
        <span class="text-white" sec:authentication="principal.authorities">권한</span>
        <button type="submit" class="btn btn-outline-success me-3"> 로그아웃 </button>
    </form>
</nav>