<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="recipeCard" th:fragment="recipeCard">
  <th:block th:if="${#lists.size('recipes') != 0}" th:each="item : ${recipes}">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <small class="text-muted" th:text="${member.id}">ID</small>
        </div>
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body" style="height: 145px;">
          <h3 class="card-title">
            <a href="#" th:text="${item.name}">Item Name</a>
          </h3>
          <h5 th:text="${item.category}">Category</h5>
          <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
          <p th:text="${item.comment}" class="card-text">코멘트!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">★ ★ ★ ★ ☆</small>
        </div>
      </div>
    </div>
  </th:block>
</div>
</html>
